!!!
%html
  %head
    %title Minmin
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .row
        .col-xs-2
          %h1 ChaZiv
        .col-xs-2{style: "padding: 25px 0px 0px 0px;"}
          =text_field_tag "search", "", placeholder: "Search" , class: "form-control"
      = yield